.blogGeneral {
	text-align: center;
}

.blogArticles {
	display: flex;
	gap: 10px;
}

.blogArticlesElements {
	width: 100%;
	border: 2px solid black;
	height: 300px;
	padding: 10px;
	margin: 10px;

}

.blogHeaders {
	display: flex;
	gap: 40%;
}
.blogContainers {
	display: flex;
	margin: 10px;
	position: relative;
	right: 5px;
}
.blogPhoto {
width: 20%;
height: 200px;
}
.blogContent {
	width: 80%;

}